@import "../../bower_components/foundation-sites/dist/foundation";
@import "config";

*
{
  margin: 0;
}

.clear
{
  clear: both;
}

.overall-container
{
  width: 100%;
  text-align: center;
}

.container
{
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.page-header
{
  padding: 25px 0 0 10px;

  .logo
  {
    position: relative;

    .logo-link
    {
      position: absolute;
      left: 15px;
      top: 0;
      height: 100%;
      width: 94%;
    }
  }

  .link-text
  {
    max-width: 340px;
    float: right;
    text-align: left;
    padding: 20px 0 0 10px;
    color: $text-color-z;

    .header
    {
      font-size: 18px;
      font-weight: bold;
    }

    .content
    {
      font-size: 14px;
      font-style: italic;
    }
  }

  .main-menu
  {
    margin-top: 25px;

    .main-menu-color
    {
      color: $text-color;
    }
  }
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after
{
  content:'';
  background: url("../images/arrow-down.png") no-repeat;
  width: 11px;
  height: 6px;
  position: absolute;
  display: inline-block;
  border: none;
}

.is-dropdown-submenu
{
  min-width: 120px;
  text-align: left;
}

.drop-menu:hover
{
  background-color: #f5f4f4;
}

.main-title,.title
{
  color: $text-color-z;
  margin: 100px auto 50px;
  text-align: left;

  .main-title-header
  {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
  }

  .main-title-content
  {
    color: $text-color;
    font-size: 20px;
    max-width: 690px;
  }
}

.title
{
  margin: 40px auto 50px;

  .title-header
  {
    color: $text-color-z;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
  }

  .title-content
  {
    font-size: 16px;
    max-width: 800px;
    color: $text-color;
  }
}

.companies
{
  .thumbnail
  {
    max-height: 330px;
    margin-bottom: 40px;
    border-radius: 3px;
    position: relative;

    .logo-comp
    {
      position: absolute;
      bottom: 155px;
    }

    .logo-ispring
    {
      position: absolute;
      bottom: 145px;
    }

    .logo-bottom
    {
      position: absolute;
      bottom: 130px;
    }

    .thumbnail-text
    {
      margin: 110px 0;
      padding: 0 25px;
      color: $text-color;
      font-size: 16px;
      max-width: 260px;
      text-align: left;
      position: relative;

      &.bottom
      {
        margin: 130px 0;
      }
    }

    .link-comp
    {
      position: absolute;
      display: block;
      height: 103%;
      width: 103%;
      left: -4px;
      top: -4px;
    }
  }
}

.button
{
  color: $button;
  background: none;
  border: 2px solid $button;
  border-radius: 30px;
  margin: 40px 0;

  .link-buttom
  {
    color: $button;
    font-weight: bold;
  }
}

.line
{
  color: #eaf0f3;
  size: 1px;
  max-width: 100%;
}

.system
{
  .thumbnail
  {
    .logo-system
    {
      position: absolute;
      bottom: 140px;
    }

    .logo-infotech
    {
      position: absolute;
      bottom: 115px;
    }

    .name-infotech
    {
      position: absolute;
      bottom: 150px;
    }
  }
}

.volgatech
{
  .thumbnail
  {
    width: 100%;
    margin-bottom: 60px;
    border-radius: 3px;
    position: relative;

    .logo-volgatech
    {
      display: block;
      float: left;
      padding: 8% 6%;
    }

    .volgatech-text
    {
      padding: 7% 0 7% 30%;
    }

    .volgatech-text-header
    {
      line-height: initial;
      color: $text-color-z;
      font-size: 26px;
      max-width: 450px;
      text-align: left;
      text-decoration: underline;
    }

    .volgatech-text-content
    {
      color: $text-color;
      font-size: 16px;
      max-width: 450px;
      text-align: left;
    }

    .link-volgatech
    {
      position: absolute;
      display: block;
      height: 103%;
      width: 101%;
      left: -4px;
      top: -4px;
    }
  }
}

.smi
{
  .column
  {
    .header
    {
      padding: 8% 0 0;
      color: $smi-z;
      font-size: 22px;
      font-weight: bold;
      text-align: left;
      max-width: 310px;
    }

    .smi-row
    {
      background-color: $smi-row;
      height: 2px;
      width: 95px;
      margin: 10px 0 15px;
    }

    .content
    {
      color: $text-color;
      font-size: 14px;
      font-style: italic;
      text-align: left;
      max-width: 280px;
      height: 110px;
    }

    .smi-video
    {
      display: block;
      width: 100%;

      .video-picture
      {
        border-radius: 5px;
        width: 95%;
        float: left;
      }
    }
  }

  &.button
  {
    margin: 40px 0 50px;
  }
}

.contacts
{
  .title-content
  {
    max-width: 670px;
    margin: 0;
  }
}